
.about-details-1{
    color: #999;
}
.about-home-page .about-detalis:hover, .about-home-page .about-detalis:hover .about-details-1{
    background-color: #1eb2a6;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
    color: #fff;
    cursor: pointer;
}